*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    background-color: #ffffff;
}
.main-page{
    display: grid;
    grid-template-areas:
    "header"
    "main1"
    "main2"
    "main3"
    "main4"
    "footer1"
    "footer2"
    "footer3"
    "footer4"
    "footer5";
    grid-template-columns: 100%;  
    grid-template-rows: 80px 442px 290px 540px auto auto auto 170px 166px 1000px ;
}  
.header{
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: #ffffff;
    position: fixed;
    z-index: 100;
}
.header-right{
    height: 80px;
    display: flex;
    align-items: center;
}
.header-right img{
    height: 45px;
    width: 32px;
    cursor: pointer;
    transition-duration: 300ms;
    transition-timing-function: linear;
}
.header-right img:hover{
    transform: scale(1.2);
}
.header-home{
    font-size: 1.5em;
    margin-left: 80px;
    padding-bottom: 5px;
    border-bottom: 3px solid #3d4152;
    font-weight: 900;
    color: #3d4152;
    cursor: pointer;
}
.header-right p{
    font-size: 1.5em;
    padding-bottom: 5px;
    padding-left: 10px;
    color: #686b78;
    font-weight: 500;
    cursor: pointer;
}
.header-right i{
    font-size: 1.25em;
    padding-bottom: 5px;
    padding-left: 20px;
    color: #ffa700;
    cursor: pointer;
}
.header-left ul{
    height: 100%;
    display: flex;
   align-items: center;
} 
.header-left li {
    list-style: none;
}
.header-left div{
    padding: 0 20px;
    font-size: 1.5em;
    font-weight: 700;
}
.header-left a:hover{
    color: #ffa700;
}
.header-left a{
    text-decoration: none;
    color: #3d4152;
}
.offers img{
    height: 20px;
    width: 20px;
}
.offers sup{
    color: #ffa700;
}
.cart a{
    display: flex;
    align-items: center;
}
.cart-count{
    height: 30px;
    width: 10px;
    color: white;
    background-color: green;
    margin-right: 10px;
    border-radius: 4px;
}
.cart-count p{
    font-size: 24px;
    text-align: center;
}
.main-margin{
    margin: 0px 160px;
}
.main1{
    grid-area: main1;
}
.best-offers{
    position: relative;
    padding: 1em;
}
.best-heading{
    font-size: 1.5em;
    color: #02060ceb;
    margin-bottom: 1em;
}
.best-img{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.best-img::-webkit-scrollbar{
    display: none;
}
.inner-best-img{
    height: 352px;
    width: 666px;
    padding-right: 1em;
}
.inner-best-img img{
    height: 100%;
    width: 650px;
}
.inner-best-imglast{
    height: 352px;
    width: 425px;
    padding-right: 0px;
}
.best-arrow{
    height: 40px;
    width: 40px;
    font-size: 1.5em;
    background-color: #e2e2e7;
    border-radius: 50%;
    border: 0px;
    position: absolute;
    right: 16px;
}
.best-arrow-left{
    right: 60px;
}
.main2{
    grid-area: main2;
    margin-top: 1.25em;
}
.your-mind{
    padding: 1em;
    position: relative;
}
.your-heading{
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #02060ceb;
}
.your-arrow{
    height: 40px;
    width: 40px;
    font-size: 1.5em;
    background-color: #e2e2e7;
    border-radius: 50%;
    border: 0px;
    position: absolute;
    right: 16px; 
}
.your-arrow-left{
    right: 60px;
}
.your-img{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.your-img::-webkit-scrollbar{
    display: none;
}
.inner-your-img{
    height: 180px;
}
.inner-your-img img{
    height: 180px;
    width: 150px;
}
.main3{
    grid-area: main3;
    margin-top: 1.25em;
}
.top-restaurant{
    position: relative;
    padding: 1em;
}
.top-heading{
    font-size: 1.5em;
    color: #02060ceb;
    margin-bottom: 1em;
}
.top-arrow{
    height: 40px;
    width: 40px;
    font-size: 1.5em;
    background-color: #e2e2e7;
    border-radius: 50%;
    border: 0px;
    position: absolute;
    right: 16px;
}
.top-arrow-left{
    right: 60px;
}
.top-img{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.top-img::-webkit-scrollbar{
    display: none;
}
.outer-top-img{
    height: 430px;
    width: 450px;
    transition-duration: 300ms;
    transition-timing-function: linear;
}
.inner-top-img{
     height: 300px;
     width: 450px;
     padding-right: 1em;
}
.outer-top-img:hover{
    transform: scale(0.95);
    cursor: pointer;
}
.inner-top-imglast{
    padding-right: 0px;
}
.inner-top-img img{
    height: 100%;
    width: 100%;
    border-radius: 1.875em;
}
.inner-top-content{
    margin-top: 0.625em;
    padding-left: 1.875em;
}
.inner-top-content h4{
    font-size: 1.5em;
    color: #02060ceb;
}
.inner-top-content i{
    font-size: 20px;
    color: darkgreen;
}
.inner-top-content h5{
    font-size: 1.5em;
    margin-bottom: 2px;
}
.inner-top-content p{
    font-size: 1.25em;
    line-height: 1.75em;
}
.main4{
    grid-area: main4;
    margin-top: 1.25em;
}
.restaurant-online{
    padding: 1em;
}
.restaurant-heading{
    font-size: 1.5em;
    color: #02060ceb;
    margin-bottom: 1em;
}
.restaurant-filter{
    display: grid;
    gap: 1.25em;
    grid-template-columns: 110px 95px 165px 180px 150px 130px 85px 180px 200px;
    grid-template-rows: 50px;
    margin: 1em 0;
    overflow-x: scroll;
}
.restaurant-filter::-webkit-scrollbar{
    display: none;
}
.inner-filter{
    padding: 1em;
    border-radius: 1em;
    border: 2px solid rgb(189, 184, 184);
    display: flex;
    align-items: center;
    cursor: pointer;
}
.filter-heading{
    font-size: 1.25em;
    color: #02060cbf;
    font-weight: 600;
    margin-right: 0.625em;
}
.filter-icon{
    font-size: 1.25em;
    color: #02060cbf;
}
.restaurant-online-grid{
    display: grid;
    grid-template-columns: repeat(4,minmax(190px,400px));
    grid-auto-rows: auto;
    gap: 1.8125em;
    padding-top: 1em;
}
.restaurant-img{
    height: 100%;
    width: 100%;
    transition-duration: 300ms;
    transition-timing-function: linear;
}
.inner-restaurant-img{
    height: 250px;
     width: 100%;
}
.restaurant-img:hover{
    transform: scale(0.95);
    cursor: pointer;
}
.inner-restaurant-img img{
    height: 100%;
    width: 100%;
    border-radius: 1.875em;
}
.inner-restaurant-content{
    width: 100%;
    margin-top: 0.625em;
    padding-left: 1.25em;
}
.inner-restaurant-content h4{
    font-size: 1.25em;
    color: #02060ceb;
}
.inner-restaurant-content i{
    font-size: 20px;
    color: darkgreen;
}
.inner-restaurant-content h5{
    font-size: 1.5em;
    margin-bottom: 2px;
}
.inner-restaurant-content p{
    font-size: 1em;
    line-height: 1.75em;
}
.footer{
    margin: 0px 100px;
}
.footer1{
    grid-area: footer1;
    margin-top: 1.25em;
}
.best-places{
    padding: 1em;
}
.best-places-grid{
    display: grid;
    grid-template-columns: repeat(4,minmax(220px,420px));
    grid-auto-rows: auto;
    gap: 1.8125em;
}
.best-places-mainheading{
    font-size: 1.5em;
    color: #02060ceb;
    margin-bottom: 1em;
}
.best-places-heading{
    border: 2px solid rgb(189, 184, 184);
    border-radius: 0.9375em;
}
.best-places-heading h4{
    font-size: 1.25em;
    padding: 1em;
    text-align: center;
    color: #02060cbf;
}
.best-places-heading i{
    font-size: 20px;
    color: #02060ceb;
}
.best-places-heading1 h4{
    color: #02060ceb;
    font-weight: 900;
}
.footer2{
   grid-area: footer2;
   margin-top: 1.25em;
}
.best-cuisines{
    padding: 1em;
}
.footer3{
    grid-area: footer3;
    margin-top: 1.25em;
}
.explore{
    padding: 1em;
}
.explore-grid{
    display: grid;
    grid-template-columns: repeat(2,minmax(469px,760px));
    gap: 1.8125em;
    grid-template-rows: auto;
}
.inner-explore{
    border: 2px solid rgb(189,184,184);
    border-radius: 0.9375em;
    padding: 1em;
    text-align: center;
}
.inner-explore h4{
 font-size: 1.25em;
 color: #02060cbf;
}
.footer4{
    background-color: #f0f0f5;
    grid-area: footer4;
    margin-top: 2.125em;
}
.best-experience{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}
.best-experience img{
    height: 100px;
    width: 250px;
    padding-right: 0.625em;
    cursor: pointer;
}
.experience-heading{
    height: 100%;
    font-size: 1.75em;
    color: #02060cbf;
    font-weight: 900;
    padding-right: 3em;
}
.footer5{
    background-color: #02060c;
    grid-area: footer5;
    padding-top: 3em;
    padding-bottom: 7.5em;
}
.last-footer{
    display: grid;
    justify-content: center;
    gap: 1.875em;
    grid-template-columns: repeat(4,minmax(220px,250px));
    grid-auto-rows: auto;
    grid-template-areas: 
"a b c d"
"a b e d";
}
.last-footer1{
    grid-area: a ;
}
.last-footer2{
    grid-area:b ;
}
.company h4{
font-size: 1.5em;
color: #ffffffeb;
margin-bottom: 1.8725em;
}
.footer a{
    text-decoration: none;
    color: #ffffff99;
    font-size: 1.5em;
}
.last-footer2 li div{
    margin-top: 1em;
}
.last-footer3 li div{
    margin-top: 1em;
}
.last-footer4 li div{
    margin-top: 1em;
}
.last-footer5 li div{
    margin-top: 1em;
}
.footer-brand h2{
  font-size: 2em;
  color: #ffffffeb;
  font-weight: 900;
}
.copyright h6{
font-size: 1.5em;
color: #ffffff99;
display: inline;
}
.copyright span{
    font-size: 1.25em;
    color: #ffffff99;
}
.last-footer3{
    grid-area:c ;
}
.last-footer4{
    grid-area:d ;
}
.last-footer5{
    grid-area: e;
}
.footer-cities{
    margin-top: 1em;
    text-align: center;
    width: 150px;
    padding: 0.75em 1em;
    color: #ffffff99;
    border: 2px solid #ffffff99;
    border-radius: 0.9375em;
}
@media screen and (max-width:1200px) {
    
}
@media screen and (max-width:992px) {
    
}
@media screen and (max-width:768px) {
    
}
@media screen and (max-width:576px) {
    body{
        font-size: 8px;
    }
    .main-margin{
        margin: 0px 5px;
    }
    .main-page{
        grid-template-rows: 50px 200px 180px;
    }
    .footer{
        margin: 0px 4px;
    }
    .header{
        padding: 0px 5px;
    }
    .header-right img{
        height: 25px;
        width: 25px;
    }
    .header-right{
        height: 50px;
    }
    .header-home{
        margin-left: 5px;
    }
    .header-right span{
        display: none;
    }
    .header-right p{
        padding-left: 5px;
    }
    .header-right i{
        padding-left: 5px;
    }
    .header-left div{
        padding: 0px 5px;
    }
    .header-left i{
        display: none;
    }
    .search{
        width: 40px;
    }
    .help{
        width: 30px;
    }
    .cart{
        width: 30px;
    }
    .cart-count{
        display: none;
        margin-right: 0px;
    }
    .sign-in{
        width: 48px;
    }
    .offers{
        width: 65px;
        height: 20px;
    }
    .offers img{
        display: none;
    }
    .inner-best-img{
        height: 150px;
        width: 300px;
    }
    .inner-best-img img{
        width: 292px;
    }
    .best-arrow{
        height: 20px;
        width: 20px;
        right: 8px;
    }
    .best-arrow-left{
      right: 30px;
    }
    .your-arrow{
        height: 20px;
        width: 20px;
        right: 8px;
    }
    .your-arrow-left{
        right: 30px;
    }
    .inner-your-img{
        height: 120px;
    }
    .inner-your-img img{
        height: 120px;
        width: 100px;
    }
    .top-arrow{
        height: 20px;
        width: 20px;
        right: 8px;
    }
    .top-arrow-left{
        right: 30px;
    }
    .outer-top-img{
        height: 215px;
        width: 200px;
    }
    .inner-top-img{
        height: 150px;
        width: 192px;
    }
    .inner-top-content i{
        font-size: 10px;
    }
    .restaurant-filter{
        grid-template-columns: 55px 47px 82px 90px 75px 65px 42.5px 92px 102px;
        grid-template-rows: 30px;
    }
    .restaurant-online-grid{
        grid-template-columns: minmax(160px,256px) minmax(160px,256px);
        grid-auto-rows: 190px;
    }
    .inner-restaurant-img{
        height: 125px;
    }
    .inner-restaurant-content i{
        font-size: 10px;
    }
    .best-places-grid{
        grid-template-columns: repeat(2,minmax(160px,258px));
        grid-auto-rows: auto;
    }
    .explore-grid{
        grid-template-columns: repeat(2,minmax(160px,258px));
        grid-template-rows: auto;
    }
    .best-experience img{
        height: 40px;
        width: 92px;
    }
    .last-footer{
        grid-template-columns: repeat(3,minmax(auto,auto));
    }
    .footer-cities{
        width: 70px;
    }
}

