*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-y: scroll;
}
body::-webkit-scrollbar{
    display: none;
}
.navbar{
    position: fixed;
    height: 66px;
    width: 100%;
    padding: 0.75rem 1.75rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.flipkart-upper-logo{
    height: 22px;
    width: 100px;
}
.flipkart-upper-logo img{
    height: 100%;
    width: 100%;
}
.flipkart-lower-logo{
    font-style: italic;
    font-size:1rem;
    color: #9e9e9e;
    padding-left: 1.5rem;
    font-weight: 900;
}
.flipkart-lower-logo i{
    font-size: 0.75rem;
    font-weight: 900;
}
.search-bar{
    margin-left: 1.5rem;
    height: 40px;
    width: 45%;
    background-color: #f0f5ff;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
}
.search-bar i{
    height: 100%;
    width: 6%;
    font-size: 1.25rem;
    padding: 0.5rem;
    color: #989c9f;
}
.search-input{
    height: 100%;
    width: 94%;
    border: none;
    padding: .5rem 1rem;
    outline: none;
    background-color: #f0f5ff;
    border-radius: 0.5rem;
    color: #989c9f;
    font-size: 1rem;
}
.navbar-ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar-ul a{
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}
.sellers{
    padding: 0rem 1.25rem;
    font-size: 1.25rem;
}
.sellers i{
    margin-right: 0.5rem;
}
.account{
    margin: 0 1rem;
    padding: 0.25rem;
    color: #000000;
    font-size: 1.25rem;
}
.account i{
    margin-right: 0.5rem;
}
.down-icon{
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-right: 0rem;
}
.account:hover{
    background-color: #f6f6f6;
    border: 1px solid #e0e0e0;
    border-radius: 0.25rem;
}
.account:hover .account-hover{
    display: block;
}
.account:hover .down-icon{
    display: none;
}
.up-icon{
    display: none;
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-right: 0rem;
}
.account:hover .up-icon{
    display: initial;
}
.account-hover{
    display: none;
    position: absolute;
    margin-top: 0.25rem;
    z-index: 2;
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
}
.account-hover ul{
    list-style: none;
    padding: 0.5rem 1rem 0;
    font-size: 1rem;
    line-height: 2rem;
    cursor: pointer;
}
.account-hover a{
color: #000000;
font-weight: 400;
}
.cart{
    color: #000000;
    padding: 0rem 1.25rem;
    font-size: 1.25rem;
}
.cart i{
    margin-right: 0.5rem;
}
.sidebar-menu{
    font-size: 1.25rem;
    margin-left: 1.5rem;
    padding: 0.5rem;
}
.sidebar-menu:hover{
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    border-radius: 0.25rem;
}
.sidebar-menu:hover .menu-hover{
    display: block;
}
.menu-hover{
    display: none;
    position: absolute;
    right: 3.75rem;
    margin-top: 0.25rem;
    background-color: #ffffff;
    z-index: 2;
    border: 1px solid #f0f0f0;
}
.menu-hover ul{
list-style: none;
padding: 0.5rem 1rem 0;
line-height: 2rem;
font-size: 1rem;
cursor: pointer;
}
.menu-hover a{
    color: #000000;
    font-weight: 400;
}
main{
    position: relative;
    top: 66px;
    width: 100%;
    background-color:#f1f2f4 ;
}
.main-container{
    margin: 0rem 1rem;
    padding: 0.5rem 0rem 1rem;
    display: grid;
    grid-template-areas: 
    "main1"
    "main2"
    "main3"
    "ads1"
    "main4"
    "brand1"
    "ads2"
    "main5"
    "brand2"
    "ads3";
    grid-template-columns: 100%;
    grid-template-rows: repeat(10,auto);
    gap: 1rem;
}
.main1{
    display: flex;
    grid-area: main1;
    justify-content: center;
    background-color: #ffffff;
}
.main1-ul{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.main1-ul a{
    text-decoration: none;
    font-size: 0.875rem;
    color: #333333;
}
.inner-main1{
    height: 126px;
    width: 130px;
    padding: 1rem;
    font-weight: 900;
}
.inner-main1 div{
    display: flex;
    justify-content: center;
    margin-bottom: .75rem;
}
.inner-main1-first{
    padding-left: 1.5rem;
    width: 130px;
}
.inner-main1-last{
    padding-right: 1.5rem;
    width: 130px;
}
.main1-2{
    width: 153px;
}
.main1-3,.main1-5,.main1-6,.main1-8,.main1-9{
    width: 122px;
}
.main1-7{
    width: 140px;
}
.main1-4{
    width: 151px;
}
/* set images in right position and width problem */
.main2{
    display: flex;
    height: 222px;
    width: 100%;
    background-color: #ffffff;
    overflow-x: scroll;
    overflow-y: hidden;
    grid-area: main2;
}
.main2::-webkit-scrollbar{
    display: none;
}
.main2-btn{
    position: absolute;
    height: 88px;
    width: 40px;
    font-size: 0.75rem;
    margin: 4.125rem 0 4.125rem;
    border: none;
    background-color: #ffffff;
}
.main2-btn-right{
    right: 1rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.main2-btn-left{
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.main2-ul{
    display: flex;
    list-style: none;
}
.inner-main2{
    width: 97.7vw;
}
.inner-main2 img{
    height: 100%;
    width: 100%;
}
.main3{
    height: 354px;
    width: 100%;
    grid-area: main3;
    background-color: #ffffff;
}
.inner-upper-main3{
    height: 80px;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 900;
    color: #212121;
    display: flex;
    align-items: center;
}
.main3-upper-btn{
    position: absolute;
    right: 2rem;
    font-size: 0.75rem;
    height:1.5rem ;
    width: 1.5rem;
    border: none;
    color: #ffffff;
    border-radius: 50%;
    background-color:#1c41d6 ;
}
.inner-lower-main3{
    width: 100%;
    display: flex;
    padding: 0 0.25rem 0.75rem;
    overflow: hidden;
}
.main3-lower-btn{
    position: absolute;
    margin: 4rem 0rem;
    height: 88px;
    width: 40px;
    border: none;
    background-color: #ffffff;
    z-index: 2;
}
.main3-lower-btn-left{
    left: 1rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.main3-lower-btn-right{
    right: 1rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.main3-inner{
    height: 252px;
    width: 216px;
    flex-shrink: 0;
    margin: 0 0.25rem;
    padding: 0.25rem;
    border: 1px solid #dddddd;
    border-radius: 0.25rem;
}
.main3-inner a{
    text-decoration: none;
    color: #212121;
    text-align: center;
    font-weight: 400;
}
.main3-inner span{
    font-weight: 900;
}
.main3-img{
    height: 186px;
    width: 100%;
}
.main3-img:hover img{
    transform: scale(0.9);
}
.main3-img img{ 
height: 100%;
width: 100%;
transform: scale(0.8);
}
.main3-content{
    height: 52px;
    width: 100%;
    padding-top: 1.5rem;
    font-size: 0.875rem;
}
.ads1{
    grid-area: ads1;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3,33%);
    background-color: #ffffff;
    gap: 0.5rem; 
}
.inner-ads1{
    width:100%;
}
.ads1-img{
    width: 100%;
}
.ads1-img img{
    height: 100%;
    width: 100%;
}
.main4{
    grid-area: main4;
    background-color: #ffffff;
}
.brand1{
    width: 100%;
    grid-area: brand1;
    background-color: #ffffff;
    padding: 0 0.25rem;
}
.inner-upper-brand{
    height: 80px;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 900;
    color: #212121;
    display: flex;
    align-items: center;
}
.inner-lower-brand{
    width: 100%;
    display: flex;
    overflow:hidden;
}
.brand-lower-btn{
    position: absolute;
    margin: 4rem 0rem;
    height: 88px;
    width: 40px;
    border: none;
    background-color: #ffffff;
}
.brand-lower-btn-left{
    left: 1.75rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.brand-lower-btn-right{
    right: 1rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.brand-inner{
    height: 266px;
    width: 450px;
    flex-shrink: 0;
    margin: 0 0.5rem 1rem;
    border-radius: 0.25rem;
}
.brand-inner a{
    cursor: pointer;
}
.brand-img{
    height: 266px;
    width: 435px;
}
.brand-img img{ 
height: 100%;
width: 100%;
}
.ads2{
    grid-area: ads2;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3,33%);
    background-color: #ffffff;
    gap: 0.5rem; 
}
.inner-ads2{
    width:100%;
}
.ads2-img{
    width: 100%;
}
.ads2-img img{
    height: 100%;
    width: 100%;
}
.main5{
    grid-area: main5;
    background-color: #ffffff;
}
.brand2{
    grid-area: brand2;
    background-color: #ffffff;
}
.ads3{
    grid-area: ads3;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3,33%);
    background-color: #ffffff;
    gap: 0.5rem; 
}
.inner-ads3{
    width:100%;
}
.ads3-img{
    width: 100%;
}
.ads3-img img{
    height: 100%;
    width: 100%;
}
footer{
    position: relative;
    top: 66px;
    display: grid;
    grid-template-areas: 
    "footer1"
    "footer2"
    "footer3";
    grid-template-columns: auto;
    grid-template-rows: repeat(3,auto);
}
.footer1{
    grid-area: footer1;
    background-color: #ffffff;
}
.upper-footer1{
    padding: 1.5rem;
}
.upper-footer1-stories{
 margin-top: 0.875rem;
 padding: 0.875rem 0rem;
 color: #565656;
 font-size: 1rem;
 font-weight: 900;
}
.upper-footer1-stories a{
    color: #565656;
    text-decoration: none;
    margin-left: 0.25rem;
    font-weight: 900;
    cursor: pointer;
}
.upper-footer1-inner{
    margin: 0.25rem 0;
}
.upper-footer1-inner span{
    font-style: 0.875rem;
    margin-right: 0.25rem;
font-weight: 500;
    color: #565656;
}
.upper-footer1-inner a{
    text-decoration: none;
    color: #565656;
    font-weight: 500;
    font-style: 0.75rem;
    padding: 0rem 0.3125rem;
    cursor: pointer;
    border-right: 1px solid #565656;
}
.lower-footer1{
    padding: 1.875rem;
    color: #565656;
}
.lower-footer1 h1{
    font-size: 1rem;
    color: #878787;
    margin-bottom: 0.625rem;
    font-weight: 900;
}
.lower-footer1 p{
    font-style: 0.875rem;
    color: #878787;
    margin-bottom: 0.625rem;
   font-weight: 900;
}
.footer2{
    grid-area: footer2;
    background-color: #212121;
    border-bottom: 1px solid #454d5e;
}
.footer2{
    display: grid;
    padding: 2.5rem 3.75rem;
    grid-template-columns: repeat(6,auto);
    gap: 1.5rem;
    grid-row: auto;
    grid-template-areas: 
    "a b c d e f";
}
.inner-footer2 th{
   color: #878787;
   padding-bottom: 0.75rem;
   font-size: 0.75rem;
   text-align: start;
   font-weight: 400;
}
.inner-footer2 p{
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: 400;

}
.inner-footer2 p a,.inner-footer2 p a:hover{
    color: #2874f0;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.75rem;
}
.inner-footer2 a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.75rem;
    cursor: pointer;
}
.inner-footer2 a:hover{
    text-decoration: underline;
}
.inner-footera{
grid-area: a;
}
.inner-footerb{
grid-area: b;
}
.inner-footerc{
grid-area: c;
}
.inner-footerd{
grid-area: d;
border-right: 1px solid #454d5e;
}
.inner-footere{
grid-area: e;
}
.inner-footerf{
grid-area: f;
}
.footer3{
    grid-area: footer3;
    padding: 1.5625rem 3.75rem;
    background-color: #212121;
    display: grid;
    grid-template-columns: repeat(6,auto);
    gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-areas: "3a 3b 3c 3d 3e 3f";
}
.inner-footer3 i{
color: #ceaa35;
padding-right: 0.25rem;
}
.inner-footer3 a{
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 0.75rem;
}
.inner-footer3 span{
    color: #ffffff;
    font-size: 0.75rem;
}
.inner-footer3a{
grid-area: 3a;
}
.inner-footer3b{
grid-area: 3b;
}
.inner-footer3c{
grid-area: 3c;
}
.inner-footer3d{
grid-area: 3d;
}
.inner-footer3e{
grid-area: 3e;
}
.inner-footer3f{
grid-area: 3f;
}












