*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    background-color: #ffffff;
}
.main-page{
    display: grid;
    grid-template-areas:
    "header"
    "main1"
    "main2"
    "main3"
    "main4"
    "footer1"
    "footer2"
    "footer3"
    "footer4"
    "footer5";
    grid-template-columns: 100%;  
    grid-template-rows: 80px 442px 290px 540px auto auto auto 170px 166px auto ;
}  
.header{
    height: 80px;
    grid-area: header;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    z-index: 100;
    overflow: hidden;
}
.header-one{
    height: 80px;
    position: relative;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
}
.header-left{
    display: flex;
    align-items: center;
}
.header-left img{
    height: 45px;
    width: 32px;
    cursor: pointer;
    transition-duration: 300ms;
    transition-timing-function: linear;
}
.header-left img:hover{
    transform: scale(1.2);
}
.header-home{
    font-size: 1.5em;
    margin-left: 80px;
    padding-bottom: 5px;
    border-bottom: 3px solid #3d4152;
    font-weight: 900;
    color: #3d4152;
    cursor: pointer;
}
.header-left p{
    font-size: 1.5em;
    padding-bottom: 5px;
    padding-left: 10px;
    color: #686b78;
    font-weight: 500;
    cursor: pointer;
}
.header-left i{
    font-size: 1.25em;
    padding-bottom: 5px;
    padding-left: 20px;
    color: #ffa700;
    cursor: pointer;
}
.header-right ul{
    height: 100%;
    display: flex;
   align-items: center;
} 
.header-right li {
    list-style: none;
}
.header-right div{
    padding: 0 20px;
    font-size: 1.5em;
    font-weight: 700;
}
.header-right a:hover{
    color: #ffa700;
}
.header-right a{
    text-decoration: none;
    color: #3d4152;
}
.offers img{
    height: 20px;
    width: 20px;
}
.offers sup{
    color: #ffa700;
}
.cart a{
    display: flex;
    align-items: center;
}
.cart-count{
    height: 30px;
    width: 30px;
    color: white;
    background-color: green;
    margin-right: 10px;
    border-radius: 4px;
}
.cart-count p{
    font-size: 24px;
    text-align: center;
}
.header-two{
    height: 80px;
    width: 100%;
    position: relative;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}
.header-two-filter{
    display: grid;
    gap: 1em;
    grid-template-columns: 90px 85px 135px 180px 150px 130px 85px 180px 200px 300px;
    grid-template-rows: 45px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.header-two-filter::-webkit-scrollbar{
    display: none;
}
.search-tab{
    height: 100%;
    width: 100%;
    display: flex;
    background-color:rgb(235,232,232);
    cursor: pointer;
    color: #282c3f;
    border-radius: 0.5em;
}
.search-input{
    height: 100%;
 width: 90%;
 padding: 0.435em 1.087em;
 border-radius: 0.5em;
 outline: none;
 border: none;
 font-size: 1.15em;
 background-color: rgb(235,232,232);
}
.search-tab i{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    align-items: center;
    color: #282c3f;
}
.main-margin{
    margin: 0px 160px;
}
.main1{
    grid-area: main1;
}
.best-offers{
    position: relative;
    padding: 1em;
}
.best-heading{
    font-size: 1.5em;
    color: #02060ceb;
    margin-bottom: 1em;
}
.best-img{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.best-img::-webkit-scrollbar{
    display: none;
}
.inner-best-img{
    height: 352px;
    width: 666px;
    padding-right: 1em;
}
.inner-best-img img{
    height: 100%;
    width: 650px;
    cursor: pointer;
}
.inner-best-imglast{
    height: 352px;
    width: 425px;
    padding-right: 0px;
}
.best-arrow{
    height: 40px;
    width: 40px;
    font-size: 1.5em;
    background-color: #e2e2e7;
    border-radius: 50%;
    border: 0px;
    position: absolute;
    right: 16px;
    cursor: pointer;
}
.best-arrow-left{
    right: 60px;
}
.main2{
    grid-area: main2;
    margin-top: 1.25em;
}
.your-mind{
    padding: 1em;
    position: relative;
}
.your-heading{
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #02060ceb;
}
.your-arrow{
    height: 40px;
    width: 40px;
    font-size: 1.5em;
    background-color: #e2e2e7;
    border-radius: 50%;
    border: 0px;
    position: absolute;
    right: 16px; 
    cursor: pointer;
}
.your-arrow-left{
    right: 60px;
}
.your-img{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.your-img::-webkit-scrollbar{
    display: none;
}
.inner-your-img{
    height: 180px;
}
.inner-your-img img{
    height: 180px;
    width: 150px;
    cursor: pointer;
}
.main3{
    grid-area: main3;
    margin-top: 1.25em;
}
.top-restaurant{
    position: relative;
    padding: 1em;
}
.top-heading{
    font-size: 1.5em;
    color: #02060ceb;
    margin-bottom: 1em;
}
.top-arrow{
    height: 40px;
    width: 40px;
    font-size: 1.5em;
    background-color: #e2e2e7;
    border-radius: 50%;
    border: 0px;
    position: absolute;
    right: 16px;
    cursor: pointer;
}
.top-arrow-left{
    right: 60px;
}
.top-img{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.top-img::-webkit-scrollbar{
    display: none;
}
.outer-top-img{
    height: 430px;
    width: 466px;
    transition-duration: 300ms;
    transition-timing-function: linear;
}
.inner-top-img{
     height: 300px;
     width: 450px;
     margin-right: 1em;
}
.outer-top-img:hover{
    transform: scale(0.95);
    cursor: pointer;
}
.inner-top-imglast{
    margin-right: 0px;
}
.inner-top-img img{
    height: 100%;
    width: 100%;
    border-radius: 1.875em;
}
.inner-top-content{
    margin-top: 0.625em;
    padding-left: 1.875em;
}
.inner-top-content h4{
    font-size: 1.5em;
    color: #02060ceb;
}
.inner-top-content i{
    font-size: 20px;
    color: darkgreen;
}
.inner-top-content h5{
    font-size: 1.5em;
    margin-bottom: 2px;
}
.inner-top-content p{
    font-size: 1.25em;
    line-height: 1.75em;
}
.main4{
    grid-area: main4;
    margin-top: 1.25em;
}
.restaurant-online{
    padding: 1em;
}
.restaurant-heading{
    font-size: 1.5em;
    color: #02060ceb;
    margin-bottom: 1em;
}
.restaurant-filter{
    display: grid;
    gap: 1em;
    grid-template-columns: 90px 95px 165px 180px 150px 130px 85px 180px 200px;
    grid-template-rows: 45px;
    margin: 1em 0;
    overflow-x: scroll;
    overflow-y: hidden;
}
.restaurant-filter::-webkit-scrollbar{
    display: none;
}
.inner-filter{
    padding: 1em;
    border-radius: 1em;
    border: 2px solid rgb(189, 184, 184);
    display: flex;
    align-items: center;
    cursor: pointer;
}
.filter-heading{
    font-size: 1em;
    color: #02060cbf;
    font-weight: 600;
    margin-right: 0.25em;
}
.filter-icon{
    font-size: 1em;
    color: #02060cbf;
}
.restaurant-online-grid{
    display: grid;
    grid-template-columns: repeat(4,minmax(190px,400px));
    grid-auto-rows: auto;
    gap: 1.8125em;
    padding-top: 1em;
}
.restaurant-img{
    height: 100%;
    width: 100%;
    transition-duration: 300ms;
    transition-timing-function: linear;
}
.extra-content{
    display: none;
}
.inner-restaurant-img{
    height: 250px;
     width: 100%;
}
.restaurant-img:hover{
    transform: scale(0.95);
    cursor: pointer;
}
.inner-restaurant-img img{
    height: 100%;
    width: 100%;
    border-radius: 1.875em;
}
.inner-restaurant-content{
    width: 100%;
    margin-top: 0.625em;
    padding-left: 1.25em;
}
.inner-restaurant-content h4{
    font-size: 1.25em;
    color: #02060ceb;
}
.inner-restaurant-content i{
    font-size: 20px;
    color: darkgreen;
}
.inner-restaurant-content h5{
    font-size: 1.5em;
    margin-bottom: 2px;
}
.inner-restaurant-content p{
    font-size: 1em;
    line-height: 1.75em;
}
.footer{
    margin: 0px 100px;
}
.footer1{
    grid-area: footer1;
    margin-top: 1.25em;
}
.best-places{
    padding: 1em;
}
.best-places-grid{
    display: grid;
    grid-template-columns: repeat(4,minmax(220px,420px));
    grid-auto-rows: auto;
    gap: 1.8125em;
}
.best-places-mainheading{
    font-size: 1.5em;
    color: #02060ceb;
    margin-bottom: 1em;
}
.best-places-heading{
    border: 2px solid rgb(189, 184, 184);
    border-radius: 0.9375em;
    cursor: pointer;
}
.best-places-heading h4{
    font-size: 1.25em;
    padding: 1em;
    text-align: center;
    color: #02060cbf;
}
.best-places-heading i{
    font-size: 20px;
    color: #02060ceb;
}
.best-places-heading1 h4{
    color: #02060ceb;
    font-weight: 900;
}
.footer2{
   grid-area: footer2;
   margin-top: 1.25em;
}
.best-cuisines{
    padding: 1em;
}
.footer3{
    grid-area: footer3;
    margin-top: 1.25em;
}
.explore{
    padding: 1em;
}
.explore-grid{
    display: grid;
    grid-template-columns: repeat(2,minmax(469px,760px));
    gap: 1.8125em;
    grid-template-rows: auto;
}
.inner-explore{
    border: 2px solid rgb(189,184,184);
    border-radius: 0.9375em;
    padding: 1em;
    text-align: center;
    cursor: pointer;
}
.inner-explore h4{
 font-size: 1.25em;
 color: #02060cbf;
}
.footer4{
    background-color: #f0f0f5;
    grid-area: footer4;
    margin-top: 2.125em;
}
.best-experience{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}
.best-experience img{
    height: 100px;
    width: 250px;
    padding-right: 0.625em;
    cursor: pointer;
}
.experience-heading{
    height: 100%;
    font-size: 1.75em;
    color: #02060cbf;
    font-weight: 900;
    padding-right: 3em;
}
.footer5{
    background-color: #02060c;
    grid-area: footer5;
    padding-top: 3em;
    padding-bottom: 7.5em;
}
.last-footer{
    display: grid;
    justify-content: center;
    gap: 1.875em;
    grid-template-columns: repeat(4,minmax(220px,250px));
    grid-auto-rows: auto;
    grid-template-areas: 
"a b c d"
"a b e d";
}
.last-footer1{
    grid-area: a ;
}
.last-footer2{
    grid-area:b ;
}
.company h4{
font-size: 1.5em;
color: #ffffffeb;
margin-bottom: 24px;
}
.footer a{
    text-decoration: none;
    color: #ffffff99;
    font-size: 1.5em;
}
.last-footer2 li div{
    margin-top: 1em;
}
.last-footer3 li div{
    margin-top: 1em;
}
.last-footer4 li div{
    margin-top: 1em;
}
.last-footer5 li div{
    margin-top: 1em;
}
.footer-brand h2{
  font-size: 2em;
  color: #ffffffeb;
  font-weight: 900;
}
.copyright h6{
font-size: 1.5em;
color: #ffffff99;
display: inline;
}
.copyright span{
    font-size: 1.25em;
    color: #ffffff99;
}
.last-footer3{
    grid-area:c ;
}
.last-footer4{
    grid-area:d ;
}
.last-footer5{
    grid-area: e;
}
.footer-cities{
    margin-top: 1em;
    text-align: center;
    width: 150px;
    padding: 0.75em 1em;
    color: #ffffff99;
    border: 2px solid #ffffff99;
    border-radius: 0.9375em;
}
@media screen and (min-width:1200px) and (max-width:1400px) {
    .inner-restaurant-img{
        height: 210px;
    }
}
@media screen and (min-width:992px) and (max-width:1200px) {
   body{
    font-size: 15px;
   } 
   .main-page{
    grid-template-rows: 75px 442px 290px 517px;
   }
   .main-margin{
    margin: 0px 80px;
   }
   .footer{
    margin: 0px 64px;
   }
   .header{
    height: 75px;
   }
   .header-one{
    height: 75px;
    padding: 0px 15px;
   }
   .header-two{
    height: 75px;
    padding: 0px 15px;
   }
   .header-two-filter{
    grid-template-columns: 105px 90px 155px 170px 139px 120px 78px 170px 190px 275px;
    grid-template-rows: 35px;
}
   .header-home{
    margin-left: 15px;
   }
   .header-left p{
    width: 181px;
   }
   .header-left i{
    padding-left: 10px;
   }
   .header-right div{
    padding: 0px 10px;
   }
   .inner-best-img{
    height: 350px;
    width: 600px;
   }
   .inner-best-img img{
    width: 585px;
   }
   .best-arrow, .top-arrow, .your-arrow{
    height: 37.5px;
    width: 37.5px;
    right: 15px;
}
.best-arrow-left, .top-arrow-left, .your-arrow-left{
    right: 57px;
}
.outer-top-img{
    height: 407px;
    width: 375px;
}
.inner-top-img{
    height: 282px;
    width: 360px;
}
.inner-top-content i{
    font-size: 18.75px;
}
.restaurant-filter{
    grid-template-columns: 105px 90px 155px 170px 139px 120px 78px 170px 190px;
    grid-template-rows: 35px;
}
.restaurant-online-grid{
    grid-template-columns: repeat(4,minmax(175px,240px));
    grid-auto-rows: auto;
}
.inner-restaurant-img{
    height: 210px;
}
.inner-restaurant-content i{
    font-size: 18.75px;
}
.best-places-grid{
    grid-template-columns: repeat(4,minmax(183px,250px));
    grid-auto-rows: auto;
}
.best-places-heading i{
    font-size: 15px;
}
.explore-grid{
    grid-template-columns: repeat(2,minmax(390px,520px));
    grid-template-rows: auto;
}
.best-experience img{
    height: 75px;
    width: 175px;
}
.company h4{
    margin-bottom: 21px;
}
.last-footer{
    grid-template-columns: repeat(4,minmax(auto,auto));
}
.footer-cities{
    width: 120px;
}
}
@media screen and (min-width:768px) and (max-width:992px) {
    body{
        font-size: 14px;
    }
    .main-page{
        grid-template-rows: 65px 385px 268px 483px;
    }
    .main-margin{
        margin: 0px 40px;
    }
    .footer{
        margin: 0px 32px;
    }
    .header{
        height: 65px;
    }
    .header-one{
        height: 65px;
        padding: 0px 10px;
    }
    .header-left img{
        height: 40px;
        width: 35px;
    }
    .header-home{
        margin-left: 10px;
    }
    .header-left p{
        font-size: 14px;
        width: 112px;
        padding-left: 5px;
    }
    .header-left i{
        padding-left: 5px;
    }
    .header-right div{
        padding: 0px 5px;
    }
    .cart-count{
        width: 20px;
        height: 20px;
        padding-top: 1px;
        margin-right: 2px;
    }
    .cart-count p{
        font-size: 16px;
    }
    .header-two{
        height: 65px;
        padding: 0px 10px;
    }
    .header-two-filter{
        grid-template-columns: 95px 82px 145px 157px 130px 115px 70px 160px 175px 250px;
        grid-template-rows: 35px;
    }
    .inner-best-img{
        height: 300px;
        width: 550px;
    }
    .inner-best-img img{
        width: 536px;
    }
    .best-arrow, .top-arrow, .your-arrow{
        height: 35px;
        width: 35px;
        right: 14px;
    }
    .best-arrow-left, .top-arrow-left, .your-arrow-left{
        right: 53px;
    }
    .inner-your-img{
        height: 165px;
    }
    .inner-your-img img{
        height: 165px;
        width: 135px;
    }
    .outer-top-img{
        height: 380px;
        width: 350px;
    }
    .inner-top-img{
        height: 263px;
        width: 336px;
    }
    .inner-top-content i{
        font-size: 17.5px;
    }
    .restaurant-filter{
        grid-template-columns: 95px 82px 145px 157px 130px 115px 70px 160px 175px;
        grid-template-rows: 35px;
    }
    .restaurant-online-grid{
        grid-template-columns: repeat(3,minmax(194px,280px));
        grid-auto-rows: auto;
    }
    .extra-content{
        display: block;
    }
    .inner-restaurant-img{
        height: 180px;
    }
    .inner-restaurant-content i{
        font-size: 17.5px;
    }
    .best-places-grid{
        grid-template-columns: repeat(3,minmax(198px,285px));
        grid-auto-rows: auto;
    }
    .best-places-heading i{
        font-size: 15px;
    }
    .explore-grid{
        grid-template-columns: repeat(2,minmax(310px,445px));
        grid-template-rows: auto;
    }
    .best-experience img{
        height: 60px;
        width: 150px;
    }
    .company h4{
        margin-bottom: 20px;
    }
    .last-footer{
        grid-template-columns: repeat(4,minmax(auto,auto));
    }
    .footer-cities{
        width: 120px;
    }
}
@media screen and (min-width:576px) and (max-width:768px) {
    body{
        font-size: 12px;
    }
    .main-margin{
        margin: 0px 20px;
    }
    .main-page{
        grid-template-rows: 60px 323px 223px 398px;
    }
    .footer{
        margin: 0px 16px;
    }
    .header{
        height: 60px;
    }
    .header-one{
        height:60px ;
        padding: 0px 5px;
    }
    .header-left img{
        height: 35px;
        width: 30px;
    }
    .header-home{
        margin-left: 5px;
    }
    .header-left span{
        display: none;
    }
    .header-left i{
        padding-left: 5px;
    }
    .header-right div{
        padding-right: 4px;
        padding-left: 0px;
    }
    .search{
        width: 81px;
    }
    .offers{
        width: 112px;
    }
    .help{
        width: 65px;
    }
    .sign-in{
        width: 80px;
    }
    .cart-count{
        width: 15px;
        margin-right: 2px;
        height: 20px;
    }
    .cart-count p{
        font-size: 16px ;
        padding-top: 2px;
    }
    .header-two{
        height: 60px;
        padding: 0px 5px;
    }
    .header-two-filter{
        grid-template-columns: 80px 70px 125px 135px 115px 100px 62px 140px 155px 200px;
        grid-template-rows: 30px;
    }
    .inner-best-img{
        height: 250px;
        width: 450px;
    }
    .inner-best-img img{
        width: 438px;
    }
    .best-arrow, .top-arrow, .your-arrow{
        height: 30px;
        width: 30px;
        right: 12px;
    }
    .best-arrow-left, .top-arrow-left, .your-arrow-left{
        right: 45px;
    }
    .inner-your-img{
        height: 150px;
    }
    .inner-your-img img{
        height: 150px;
        width: 125px;
    }
    .outer-top-img{
        height: 325px;
        width: 300px;
    }
    .inner-top-img{
        height: 225px;
        width: 288px;
    }
    .inner-top-content i{
        font-size: 15px;
    }
    .restaurant-filter{
        grid-template-columns: 80px 70px 125px 135px 115px 100px 62px 140px 155px;
        grid-template-rows: 30px;
    }
    .restaurant-online-grid{
        grid-template-columns: repeat(3,minmax(145px,256px));
        grid-auto-rows: auto;
    }
    .extra-content{
        display: block;
    }
    .inner-restaurant-img{
        height: 150px;
    }
    .inner-restaurant-content i{
        font-size: 15px;
    }
    .best-places-grid{
        grid-template-columns: repeat(3,minmax(145px,258px));
        grid-auto-rows: auto;
    }
    .best-places-heading i{
        font-size: 15px;
    }
    .explore-grid{
        grid-template-columns: repeat(2,minmax(245px,350px));
        grid-template-rows: auto;
    }
    .best-experience img{
        height: 50px;
        width: 120px;
    }
    .company h4{
        margin-bottom: 18px;
    }
    .last-footer{
        grid-template-columns: repeat(4,minmax(auto,auto));
    }
    .footer-cities{
        width: 100px;
    }
}
@media screen and (max-width:576px) {
    body{
        font-size: 8px;
    }
    .main-margin{
        margin: 0px 5px;
    }
    .main-page{
        grid-template-rows: 50px 200px 180px 280px;
    }
    .footer{
        margin: 0px 4px;
    }
    .header{
        height: 50px;
    }
    .header-one{
        height: 50px;
        padding: 0px 5px;
    }
    .header-left img{
        height: 25px;
        width: 25px;
    }
    .header-home{
        margin-left: 5px;
    }
    .header-left span{
        display: none;
    }
    .header-left p{
        padding-left: 5px;
    }
    .header-left i{
        padding-left: 5px;
    }
    .header-right div{
        padding: 0px 5px;
    }
    .header-right i{
        display: none;
    }
    .search{
        width: 40px;
    }
    .help{
        width: 30px;
    }
    .cart{
        width: 30px;
    }
    .cart-count{
        display: none;
        margin-right: 0px;
    }
    .sign-in{
        width: 48px;
    }
    .offers{
        width: 65px;
        height: 20px;
    }
    .offers img{
        display: none;
    }
    .header-two{
        height: 50px;
        padding: 0px 5px;
    }
    .header-two-filter{
        grid-template-columns: 55px 50px 85px 95px 78px 65px 42.5px 92px 102px 150px;
        grid-template-rows: 30px;
    }
    .inner-best-img{
        height: 150px;
        width: 300px;
    }
    .inner-best-img img{
        width: 292px;
    }
    .best-arrow, .top-arrow, .your-arrow{
        height: 20px;
        width: 20px;
        right: 8px;
    }
    .best-arrow-left, .top-arrow-left, .your-arrow-left{
      right: 30px;
    }
    .inner-your-img{
        height: 120px;
    }
    .inner-your-img img{
        height: 120px;
        width: 100px;
    }
    .outer-top-img{
        height: 220px;
        width: 200px;
    }
    .inner-top-img{
        height: 150px;
        width: 192px;
    }
    .inner-top-content i{
        font-size: 10px;
    }
    .restaurant-filter{
        grid-template-columns: 55px 50px 85px 95px 78px 65px 42.5px 92px 102px;
        grid-template-rows: 30px;
    }
    .restaurant-online-grid{
        grid-template-columns: repeat(2, minmax(160px,270px));
        grid-auto-rows: 190px;
    }
    .inner-restaurant-img{
        height: 135px;
    }
    .inner-restaurant-content i{
        font-size: 10px;
    }
    .best-places-grid{
        grid-template-columns: repeat(2,minmax(160px,270px));
        grid-auto-rows: auto;
    }
    .best-places-heading i{
        font-size: 10px;
    }
    .explore-grid{
        grid-template-columns: repeat(2,minmax(160px,270px));
        grid-template-rows: auto;
    }
    .best-experience img{
        height: 40px;
        width: 92px;
    }
    .company h4{
        margin-bottom: 12px;
    }
    .last-footer{
        grid-template-columns: repeat(3,minmax(auto,auto));
    }
    .footer-cities{
        width: 70px;
    }
}
